<div class="vh-100 ">

  <div class="text-center">
    <div class="container home-buttons">
      <div class="home-table-box col-md-6 offset-3 mx-auto ">
      <div class="col-md-6 offset-md-3 col-8 offset-2">
    
  <div class="form-outline mb-4 pt-4 ">
    <div class="row">
<a href="/signup" class="btn btn-outline-primary  font-color" ><strong>Sign up</strong></a>
    </div>
    <label class="form-label mt-2 text-dark" for="form2Example2"><small><u>Are you new here?</u></small></label>
  </div>


  <div class="form-outline mb-5">
        <div class="row">
    <a href="/login" class="btn btn-outline-primary font-color"><strong>Log in</strong></a>
        </div>
    <label class="form-label mt-2 text-dark" for="form2Example2"><small><u>Already a member?</u></small></label>
  </div>

  <div class="form-outline mb-5 ">
        <div class="row">
    <a href="/admin" class="btn btn-outline-danger font-color"><strong>Login as Admin</strong></a>
        </div>
    <label class="form-label mb-3 mt-2 text-dark" for="form2Example2"><small><u>Are you Admin</u></small></label>
  </div>
    </div>
  </div> 
  </div>
</div>
</div>
</div>